<nav>
  <ul class="navigation">
    <li <%= selected?(/^products/) %>>
      <a href="http://engineyard.com/products/appcloud"><span class="drop">Engine Yard Cloud</span></a>
      <div>
        <ul>          
          <li><a href="http://engineyard.com/products/appcloud">Our Platform</a></li>
          <li><a href="http://engineyard.com/support-plans">Support</a></li>
          <li><a href="http://engineyard.com/partners/platform-services">Platform Services</a></li>
          <li><a href="http://engineyard.com/products/appcloud/pricing">Pricing</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^developer|ruby_on_rails_training|videos|podcasts/) %>>
      <a href="http://engineyard.com/developer"><span class="drop">Developer Center</span></a>
      <div>
        <ul>          
          <li><a href="http://docs.engineyard.com">Documentation</a></li>
          <li><a href="http://engineyard.com/ruby_on_rails_training">Training</a></li>
          <li><a href="http://engineyard.com/videos">Videos</a></li>
          <li><a href="http://engineyard.com/podcasts">Podcasts</a></li>
          <li><a href="http://engineyard.com/developer/groups">User Groups</a></li>
          <li><a href="http://jobs.engineyard.com">Jobs Board</a></li>
        </ul>
      </div>
    </li>

    <li<%= selected?(/^blog/) %>>
      <%= link_to '<span>Blog</span>'.html_safe, 'http://engineyard.com/blog' %>
    </li>
    
    <li<%= selected?(/^developer|ruby_on_rails_training|videos|podcasts/) %>>
      <a href="http://engineyard.com/company"><span class="drop">About Us</span></a>
      <div>
        <ul>          
          <li><a href="http://engineyard.com/company/customers">Customers</a></li>
          <li><a href="http://engineyard.com/company/team">Leadership Team</a></li>
          <li><a href="http://engineyard.com/developer/events">Events</a></li>
          <li><a href="http://engineyard.com/partners/alliances">Strategic Alliances</a></li>
          <li><a href="http://engineyard.com/open-source">Open Source</a></li>
          <li><a href="http://engineyard.com/company/careers">Careers</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^company/) %>>
      <a href="http://engineyard.com/company/contact"><span>Contact</span></a>
    </li>
    
  </ul>
</nav>
