<nav>
  <ul class="navigation">
    <li<%= selected?(/^products|support-plans|partners\/(platform-services|training|developers)|services/) %>>
      <a href="/products/appcloud"><span class="drop">Products</span></a>
      <div>
        <ul>          
          <li><a href="/products/appcloud">Engine Yard Cloud</a></li>
          <li><a href="/products/xcloud">Engine Yard xCloud</a></li>
          <li><a href="/orchestra">Orchestra.io</a></li>
          <li><a href="/support-plans">Support</a></li>
          <li><a href="/partners">Partners</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^developer|ruby_on_rails_training|videos|podcasts/) %>>
      <a href="/developer"><span class="drop">Developer Center</span></a>
      <div>
        <ul>          
          <li><a href="http://ec2-50-18-21-62.us-west-1.compute.amazonaws.com">Documentation</a></li>
          <li><a href="/ruby_on_rails_training">Training</a></li>
          <li><a href="/videos">Videos</a></li>
          <li><a href="/podcasts">Podcasts</a></li>
          <li><a href="/developer/groups">User Groups</a></li>
          <li><a href="http://jobs.engineyard.com">Jobs Board</a></li>
        </ul>
      </div>
    </li>

    <li<%= selected?(/^company(?!\/contact)|developer\/events|open-source|partners\/alliances/) %>>
      <a href="/company"><span class="drop">About Us</span></a>
      <div>
        <ul>          
          <li><a href="/company/customers">Customers</a></li>
          <li><a href="/company/team">Leadership Team</a></li>
          <li><a href="/developer/events">Events</a></li>
          <li><a href="/partners/alliances">Strategic Alliances</a></li>
          <li><a href="/open-source">Open Source</a></li>
          <li><a href="/company/careers">Careers</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^blog/) %>>
      <%= link_to '<span>Blog</span>'.html_safe, 'http://www.engineyarddos.com.php5-20.dfw1-2.websitetestlink.com/blog' %>
    </li>
    
    <li<%= selected?(/^company\/contact/) %>>
      <a href="/company/contact"><span>Contact</span></a>
    </li>
    
  </ul>
</nav>
