<div class="nav grid_16">
  <ul>
    <li<%= selected?(/^products|partners\/platform-services/) %>>
      <a href="http://engineyard.com/products"><span class="drop">Products</span></a>
      <div>
        <ul>          
          <li><a href="http://engineyard.com/products/cloud">Engine Yard Cloud</a></li>
          <li><a href="http://engineyard.com/products/managed">Engine Yard Managed</a></li>
          <li><a href="http://engineyard.com/products/orchestra">Orchestra PHP Cloud</a></li>
          <li><a href="http://engineyard.com/partners/platform-services">Platform Services</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^solutions\/(mobile|social|campaigns)/) %>>
      <a href="http://engineyard.com/solutions/mobile"><span class="drop">Solutions</span></a>
      <div>
        <ul>          
          <li><a href="http://engineyard.com/solutions/mobile">Mobile</a></li>
          <li><a href="http://engineyard.com/solutions/social">Social</a></li>
          <li><a href="http://engineyard.com/solutions/campaigns">Campaigns</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^support|ruby_on_rails_training|partners\/developers|partners\/training|\/services/) %>>
      <a href="http://engineyard.com/support"><span class="drop">Services</span></a>
      <div>
        <ul>          
            <li><a href="http://engineyard.com/support">Support</a></li>
            <li><a href="http://engineyard.com/ruby_on_rails_training">Training</a></li>
            <li><a href="http://engineyard.com/services">Professional Services</a></li>
            <li><a href="http://engineyard.com/partners/developers">Dev. &amp; Digital Agencies</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^developer|ruby_on_rails_training|videos|podcasts/) %>>
      <a href="http://engineyard.com/developer"><span>Developer Center</span></a>
    </li>

    <li<%= selected?(/^company(?!\/contact)|developer\/events|open-source|partners\/alliances/) %>>
      <a href="http://engineyard.com/company"><span class="drop">About Us</span></a>
      <div>
        <ul>          
          <li><a href="http://engineyard.com/company/events">Events</a></li>
          <li><a href="http://engineyard.com/company/customers">Customers</a></li>
          <li><a href="http://engineyard.com/company/team">Leadership</a></li>
          <li><a href="http://engineyard.com/partners">Partner Program</a></li>
          <li><a href="http://engineyard.com/company/news">News &amp; Press</a></li>
          <li><a href="http://engineyard.com/open-source">Open Source</a></li>
          <li><a href="http://engineyard.com/company/careers">Careers</a></li>
        </ul>
      </div>
    </li>
    
    <li<%= selected?(/^blog/) %>>
      <%= link_to '<span>Blog</span>'.html_safe, 'http://engineyard.com/blog' %>
    </li>
    
    <li<%= selected?(/^company\/contact/) %>>
      <a href="http://engineyard.com/company/contact"><span>Contact Us</span></a>
    </li>
    
  </ul>
</div>  
