        </div>
      </div>

      <div class="clear"></div>
      <footer>
        <div class="footer-signup">
          <div class="video-text">
            <div>
              <h3>Try Engine Yard Today&#8212;Risk Free</h3>
              <ul>
                <li>Deploy your Rails app in minutes.</li>
                <li>Only pay for what you use&#8212;no setup or environment fees.</li>
                <li>Enjoy worry-free scalability to 25 million users.</li>
              </ul>
            </div>
            <div class="controls">
              <%= link_to 'Sign Up Now', 'https://cloud.engineyard.com/signup', :id => 'colorbox_signup_link', :class => 'button trackLink' %><br />
              <%= link_to 'request a live demo', 'http://pages.engineyard.com/RequestLiveDemo.html', :class => 'trackLink' %>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="connect">
          <h4>Connect with Engine Yard</h4>
          <ul>
            <li><%= link_to 'Facebook', 'http://www.facebook.com/engineyard', :class=>'facebook trackLink' %></li>
            <li><%= link_to 'Twitter', 'http://www.twitter.com/engineyard', :class=>'twitter trackLink' %></li>
            <li><%= link_to 'LinkedIn', 'http://www.linkedin.com/groups?gid=111752', :class=>'linkedin trackLink' %></li>
            <li><%= link_to 'RSS', 'http://feeds2.feedburner.com/engineyard', :class=>'rss trackLink' %></li>
          </ul>
        </div>
        <nav>
          <ul>
            <li><a href="/legal/privacy">Privacy Policy</a></li>
            <li><a href="/company/careers">Careers</a></li>
            <li><a href="/company/contact">Contact Us</a></li>
            <li><a href="/company/presskit">Press Kit</a></li>
            <li><a href="/sitemap">Site Map</a></li>
            <li><a href="http://jobs.engineyard.com">Ruby Jobs Board</a></li>
          </ul>
        </nav>
        <p>   
          Ruby is the Language of the Cloud.<br />
          Running on Engine Yard: <%= link_to 'The Ruby Cloud', '/products/appcloud' %> and <%= link_to 'Rails 3', 'http://www.rubyonrails.org' %> &copy;2010 Engine Yard, Inc. All rights reserved.
        </p>
      </footer>
     
    </div>
    
    <div class="hidden">
      <%= javascript_include_tag '/pugita_header/javascripts/application.min' %>
      <%= yield :additional_scripts %>
      <%- unless Rails.env == 'development' %>
        <%= render 'shared/tracking' %>    
      <%- end -%>
    </div>
    <%= additional_footer if additional_footer.present? %>
  </body>
</html>