        </div>
      </div>


      <div class="clear"></div> 
      
      <div id="footer">
        <div id="footer-content">
          <div class="page">
            <div class="grid_4">
              <p id="copyright">
                <p>   
                Running on Engine Yard: <%= link_to 'The Ruby Cloud', '/products/appcloud' %> and <%= link_to 'Rails 3', 'http://www.rubyonrails.org' %><br />
                Ruby is the Language of the Cloud.<br />
                Copyright &copy; Engine Yard, Inc. All rights reserved.
              </p>
            </div>
            <div class="grid_2">
              <h2>Ruby Products</h2>
              <ul>
                <li><%= link_to('Engine Yard AppCloud','/products/appcloud') %></li>
                <li><%= link_to('Engine Yard xCloud','/products/xcloud') %></li>
                <li><%= link_to('Rails 3 Training','/university/scheduled_classes') %></li>
                <li> <%= link_to('Professional Services','/services') %></li>
              </ul>
            </div>
            <div class="grid_2">
              <h2>Customer Service</h2>  
              <ul>                       
                <li><a href="http://support.cloud.engineyard.com/">Request Support</a></li> 
                <li><a href="http://docs.engineyard.com">Documentation</a></li> 
                <li><a href="http://community.engineyard.com">Community Forums</a></li> 
                <li><a href="/products/support-policies">Support Policies</a></li>
                <li><a href="/legal/privacy">Privacy Policy</a></li>
              </ul>
            </div>
            <div class="grid_2">
              <h2>Ruby Community</h2>
              <ul>
                <li><%= link_to('JRuby','http://www.jruby.org') %></li>
                <li><%= link_to('Rubinius','http://rubini.us') %></li>
                <li><%= link_to('Rails Installer','http://www.railsinstaller.com') %></li>
                <li><%= link_to('Ruby Jobs','http://jobs.engineyard.com') %></li>
                <li> <%= link_to('Rails Developers','http://www.railsdevelopment.com') %></li>
              </ul>
            </div>
            <div class="grid_2">
              <h2>Socialize With Us</h2>
              <ul>
                <li>
                  <%= link_to('Blog', '/blog', :class => 'blog') %>
                </li>
                <li>
                  <%= link_to('Twitter', 'http://twitter.com/engineyard', :class => 'twitter trackLink') %>
                </li>
                <li>                                                                             
                  <%= link_to('Facebook', 'http://facebook.com/engineyard', :class => 'facebook trackLink') %>
                </li>
                <li>                                                                             
                  <%= link_to('LinkedIn', 'http://www.linkedin.com/groups?gid=111752', :class => 'linkedin trackLink') %>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>           
    </div>
    
    <div class="hidden">
      <%= javascript_include_tag '/engineyard-theme/javascripts/application.min.js' %>
      <%= yield :additional_scripts %>
      <%- unless Rails.env == 'development' %>
        <%= render 'shared/tracking' %>    
      <%- end -%>
    </div>
    <%= additional_footer if additional_footer.present? %>
  </body>
</html>