!!! 5
%html
  %head

    %title= content_for?(:title) ? yield(:title) : 'Ruby Cloud | Ruby Support | Engine Yard'
    %meta{:name => "description",:content => "#{content_for?(:description) ? yield(:description) : 'Learn why Engine Yard\'s managed Rails hosting, Rails deployment &amp; 24/7/365 live service is the best'}"}
    %meta{:name => "keywords", :content => "#{content_for?(:keywords) ? yield(:keywords) : 'Ruby on Rails Fully-Managed Hosting, Scaling, Scaled, Cluster Slices, Cloud Computing, On-Demand Deployment, Merb, Rubinius, Open-Source Software'}"}
    %meta{'http-equiv' => "expires", :content =>"0"}

    =stylesheet_link_tag 'ey-theme'

    :plain
      <script src="http://use.typekit.com/cra4agv.js"></script>
      <script>try{Typekit.load();}catch(e){}</script>                                         
  
    =yield :head
  
    - unless Rails.env == 'development' || add_js != 'true'
      :plain
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-764576-1']);
          _gaq.push(['_setDomainName', '.engineyard.com']);
          _gaq.push(['_trackPageview']);

          (function() {
            varga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>

  %body{:id => content_for?(:body_id) ? yield(:body_id) : ''}
    #container
      .container_16
        .header
          - if add_navigation == 'true'
            %h1.branding
              =link_to(content_for?(:branding) ? yield(:branding) : 'Engine Yard, Inc.', '/') 
            #search_form.grid_4.prefix_10
              :plain
                <form action="/search" method="get">
                  <input type="text" name="q" id="searchbox" placeholder="Search" />
                  <input type="submit" value="" id="searchsubmit" class="gsc-search-button" />
                </form> 
            .grid_2
              %span#utility
                %a{:href => '#'} 
                  Log in
                %div
                  %ul          
                    %li= link_to('Login to Engine Yard Cloud','https://cloud.engineyard.com')
                    %hr
                    %li= link_to('Login to Orchestra PHP Cloud','http://my.orchestra.io')
            =render('shared/global_nav')
        #content
          =additional_header if additional_header.present?
